<clr-modal #changePasswordModal [(clrModalOpen)]="_changePasswordModal" [clrModalSize]="'sm'">
    <h3 class="modal-title">Change my Password</h3>
    <div class="modal-body">
        <form clrForm [formGroup]="changePasswordForm" novalidate>
            <clr-input-container>
                <label>Id</label>
                <input clrInput type="text" formControlName="id" readonly />
            </clr-input-container>
            <clr-input-container>
                <label>Old Password</label>
                <input clrInput type="password" formControlName="oldPassword" />
            </clr-input-container>
            <clr-input-container>
                <label>New Password</label>
                <input clrInput type="password" formControlName="newPassword" />
            </clr-input-container>
            <clr-input-container>
                <label>Confirm New Password</label>
                <input clrInput type="password" formControlName="password_confirmed" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="_changePasswordModal = false">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="submitPasswordChangeForm(changePasswordForm.value);_changePasswordModal = false"
            [disabled]="changePasswordForm.invalid">Ok</button>
    </div>
</clr-modal>